:root{

--gradient:
linear-gradient(
135deg,
#3aa0ff,
#ff4d8d
);

}


/* ADMIN */

.adminBar{

position:fixed;

top:0;
left:0;
right:0;

height:27px;

display:flex;

align-items:center;

gap:18px;

padding:0 14px;

background:
var(--gradient);

z-index:10001;

}


.adminBar a{

color:white;

text-decoration:none;

font-size:13px;

font-weight:600;

}





/* HEADER */

.header{


position:fixed;


top:0;

left:0;

right:0;



height:60px;



display:flex;

align-items:center;

justify-content:space-between;



padding:0 16px;



box-sizing:border-box;



z-index:10000;



background:

rgba(255,255,255,.82);



backdrop-filter:

blur(16px);



transition:

transform .35s cubic-bezier(.22,1,.36,1),
opacity .3s ease;



}





.header.hasAdminBar{

top:27px;

}




.header.show{

transform:
translateY(0);

opacity:1;

}



.header.hide{

transform:
translateY(-120%);

opacity:0;

pointer-events:none;

}







.logo{

display:flex;

align-items:center;

}







.nav{

display:flex;

gap:26px;

flex:1;

justify-content:center;

}



.nav a{

text-decoration:none;

color:#222;

font-weight:500;

position:relative;

}




.nav a::after{

content:"";

position:absolute;

left:0;

bottom:-6px;

height:2px;

width:0;

background:
var(--gradient);

transition:.3s;

}



.nav a:hover::after{

width:100%;

}







.menuToggle{

display:none;

font-size:28px;

border:none;

background:none;

cursor:pointer;

}






.menuOverlay{

position:fixed;

inset:0;

background:
rgba(0,0,0,.35);

opacity:0;

visibility:hidden;

pointer-events:none;

z-index:9998;

transition:.3s;

}



.menuOverlay.active{

opacity:1;

visibility:visible;

pointer-events:auto;

}








@media(max-width:768px){


.menuToggle{

display:block;

}



.nav{


position:absolute;

top:100%;

left:0;

right:0;



background:white;



flex-direction:column;



opacity:0;

visibility:hidden;



transform:
translateY(-15px);



transition:.35s;



}



.nav.active{


opacity:1;

visibility:visible;


transform:
translateY(0);


}



.nav a{


padding:16px 22px;


border-bottom:
1px solid #eee;


}



.header{

padding:0 12px;

}



}